.boby {
    width: 100%;
}

.ge {
    font-size: 2.4rem;
    font-weight: bolder;
}

.be {
    color: blue;
}

.free {
    border-radius: 30px;
}

.stream {
    font-size: 2rem;
    font-weight: bolder;
}

.ea {
    font-size: 2.3rem;
    font-weight: bolder;
 }

 .ahead {
    color: blue;
 }

 .font {
    font-size: 1.6rem;
 }

 .text {
    color: blue;
 }

 .book {
    font-size: 2rem;
    font-weight: bolder;
}

.second {
    margin-top: 100px;
}